services:
  postgres:
    image: postgres
    container_name: elysia-prisma-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "12345678"

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: elysia-prisma-jaeger
    environment:
      COLLECTOR_ZIPKIN_HOST_PORT: ":9411"
      COLLECTOR_OTLP_ENABLED: "true"
    ports:
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
      - "9411:9411"

  dragonfly:
    container_name: elysia-prisma-dragonfly
    image: docker.dragonflydb.io/dragonflydb/dragonfly
    ulimits:
      memlock: -1
    network_mode: host
    environment:
      requirepass: elysia
